.auth-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: linear-gradient(135deg, #5f2c82, #49a09d);
    color: #fff;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    padding: 20px;
  
    h2 {
      font-size: 2rem;
      margin-bottom: 20px;
    }
  
    form {
      background: rgba(255, 255, 255, 0.1);
      padding: 20px;
      border-radius: 10px;
      box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
      display: flex;
      flex-direction: column;
      width: 100%;
      max-width: 300px;
  
      input {
        padding: 10px;
        margin-bottom: 10px;
        border: none;
        border-radius: 5px;
        font-size: 16px;
  
        &:focus {
          outline: none;
          box-shadow: 0 0 5px rgba(81, 203, 238, 1);
        }
      }
  
      button {
        background: #ff416c;
        color: white;
        border: none;
        padding: 10px;
        border-radius: 5px;
        cursor: pointer;
        font-size: 16px;
        transition: background-color 0.3s;
  
        &:hover {
          background: #ff4b2b;
        }
      }
    }
  
    button {
      margin-top: 15px;
      background: transparent;
      border: 2px solid #fff;
      color: #fff;
      padding: 10px 15px;
      font-size: 16px;
      cursor: pointer;
      transition: background-color 0.3s, color 0.3s;
  
      &:hover {
        background: #fff;
        color: #49a09d;
      }
    }
  }
  
  @media only screen and (max-width: 600px) {
    .auth-container {
      padding: 10px;
  
      h2 {
        font-size: 1.5rem;
      }
  
      form {
        width: 90%;
      }
    }
  }
  