/* app.component.css */
.video-logo {
    position: absolute;
    top: 10px;  /* Adjust as needed */
    left: 10px; /* Adjust as needed */
    height: 100px;
    width: 100; /* Adjust based on your desired size */
    border-radius: 50%;
    width: auto; /* Adjust if necessary */
  }
  